#cloud-config

# Create Docker group
groups:
  - docker

write_files:
  - path: /etc/apt/apt.conf.d/00InstallRecommends
    owner: root:root
    permissions: '0644'
    content: |
      APT::Install-Recommends "false";

# Package configuration
apt:
  primary:
    - arches: [default]

apt_update: true
package_upgrade: true
packages:
  - apt-listchanges
  - unattended-upgrades
  - ntp
  - runit
  - runit-systemd
  - dnsutils
  - curl
  - telnet
  - pwgen
  - postgresql-client
  - perl
  - libpcre3
  - awscli
  - ca-certificates
  - gnupg
  - lsb-release
  - docker
  - docker.io
  - containerd
  - docker-compose
  - git

runcmd:
  - sudo systemctl start docker
  - sudo systemctl enable docker
  - sudo usermod -aG docker ubuntu
  - sudo su - ubuntu
  - git clone https://github.com/adcoutinho/api-gateway-labs.git
  - git clone https://github.com/adcoutinho/simple-go-api.git
